﻿@model AjaxRequest.Models.Departman

@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni</h2>



@using (Html.BeginForm("Kayedet", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.Ad)
        @Html.TextBoxFor(m=>m.Ad,new {@class="form-control"})
    </div>
    @Html.HiddenFor(m=>m.Id)
    <button type="submit" class="btn btn-success">Kayedet</button>
}