﻿@model IEnumerable<AjaxRequest.Models.Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>

@Html.ActionLink("Yeni Departman", "Yeni", "Departman", new { @class="btn btn-primary" })
<h2>Index</h2>

<table class="table table-bordered table-hover" id="tblDepartmanlar">
    <thead>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Guncelle</th>
        <th>Silme</th>
       

    </tr>

    </thead>
    
    <tbody>
   @foreach (var departman in Model)
   {
       <tr>
        
           <td>@departman.Id</td>
           <td>@departman.Ad</td>
           <td>@Html.ActionLink("Guncelle","Guncelle","Departman", new {id= departman.Id},null)</td>
           @*<td><a class="btn" href="/Departmen/Guncelle/@departman.Id">Guncelle</a></td>*@

           <td><a class="btn btn-warning btnDepartmanSil" data-id="@departman.Id">Sil</a></td>
           
       </tr>
   }
    
    </tbody>
    

</table>
